body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.mobile-nav-bar {
    background-color: #1779ba;
}

.mobile-nav-bar a {
    color: #fefefe;
}

section.cardset header {
    /*margin:.5rem 0 0 0;*/
    padding: 1rem;
    color: black;
    font-weight: bold;

}

.delete {
    font-size: 20px;
    position: absolute;
    right: 14px;
    top: 13px;

}

.edit {
    position: absolute;
    right: 37px;
    top: 13px;
}

.type {
    color: #8c9eff;
}

.addCard {
    /*padding:0.3rem;*/
}

.btn-create-cardset, .btn-picture-upload {
    margin-top: 11px;
}

.btn-translate-input, .btn-translate-modal {
    margin-bottom: 10px;
}

.btn-translate-modal {;
    margin-top: 25px;
    margin-bottom: 0;
}

.hidden {
    display: none;
}

.collection-header {
    font-weight: bold;
}

.faint-black {
    color: rgba(0, 0, 0, 0.87) !important;
}

.card-play {
    height: auto;
    min-height: 25vh;
}

.card-side {
    position: absolute;
    right: 10px;
    top: 10px;
}

.card-name {
    position: absolute;
    left: 10px;
    top: 10px;
}

.btn-check-mc-answer, .btn-check-type-answer {
    width: 100%;
    margin-top: 3px;
}

.cardset-header {
    border-bottom: 1px solid black;
}

.collapsible-items {
    margin-left: auto;
}

div.collapsible-items i {
    margin-right: 0;
}

.upload-wrap {
    position: relative;
}

.label {
    position: absolute;
    top: 45px;
    font-size: .8rem;
    color: #9e9e9e;
}

.smiley {
    bottom: 5px;
    left: 5px;
    position: absolute;
}

.btns-form-control {
    margin-top: 20px;
}

.answerInput {
    margin-top: 10px;
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn {
    margin-top: 10px;
}

.relative {
    position: relative;
}

.add-card-cardset {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sick-blue {
    background-color: #86b6dd;
}